@charset "UTF-8";

/* ・・・共通・・・ */
/* main{
  max-width: 1500px;
} */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.sec-title {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
}







.site-title a img {
  width: 100px;
  height: 34px;
  vertical-align: top;
  /* align-items: center; */
}

.site-title a {
  height: 34px;
  display: inline-block;
  border: 1px solid red; 
  /* line-height: 1; */
  /* align-items: center; */
  margin: 20px;
}

.header-box {
  max-width: 1200px;
  background-color: black;
  height: 60px;
  left: 40px;
  position: fixed;
  right: 40px;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.header-box .title-btn {
  color: white;
  /* display: inline-block; */
  /* padding-top: 20px; */
  /* border: 1px solid red; */
  /* text-align: right; */
  line-height: 3;
  margin-right: 40px;
}

.inner{
  display: flex;
}


/* ハンバーガーメニュー */
.toggle_btn {
  border:1px solid red;
  /* display: block; */
  position: relative;
  top: 0;
  right:20px;
  width: 40px;
  height: 40px;
  transition: all .5s;
  cursor: pointer;
  z-index: 999;
}

.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 4px;
  transition: all .5s;
  z-index: 999;
}

.toggle_btn span:nth-child(1) {
  top: 10px;
}

.toggle_btn span:nth-child(2) {
  top: 20px;
}

.toggle_btn span:nth-child(3) {
  top: 30px;
}

.open .toggle_btn span {
  background-color: white;
}

.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle_btn span:nth-child(2) {
  display: none;
}

.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}




#nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  padding: 60px 25px;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}

.open #nav{
  left: 0;
  opacity: 1;
}

#nav ul li{
  padding-top: 20px;
  padding-bottom: 20px;
}

#nav ul li a{
  color: white;
  font-size: 20px;
}

#mask {
  display: none;
  transition: all .5s;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}


.first-v {
  background-image: url(../img/sam-moghadam-khamseh-vOZP2LojrHI-unsplash.jpg);
  height: 1000px;
  background-size: cover;
  width: 100%;
}

/* section */

#start p {
  padding-bottom: 100px;
  /* text-align: center; */
  width: 800px;
  margin: 0 auto;
}


#facility {
  background-color: black;
}

#facility h2 {
  color: white;
}

.fac-content p {
  color: white;
}

.fac-title {
  color: white;
}

.fac-content img {
  width: 200px;
  margin: 0 auto;
}

.fac-content {
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.fac-content h3 {
  text-align: center;
}

.fac-gym,
.fac-studio,
.fac-locker {
  text-align: center;
}

.fac-gym p,
.fac-studio p,
.fac-locker p {
  width: 200px;
}




#charm img {
  width: 200px;
  height:200px;
  border-radius: 50%;
  margin-right: 80px;
}

.charm-contents {
  border: 1px solid red;
  padding-bottom: 50px;
}

#charm .first-img,
.second-img,
.third-img {
  display: flex;
  padding-bottom: 50px;
  width: 1000px;
  margin: 0 auto;
}

.ch-title {
  border-left: 1px solid black;
  padding-left: 50px;
}


#contact {
  background-color: black;
  color: white;
  padding-bottom: 30px;
}

.contact {
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  margin: 0 auto;
}

.contact-text {
  width: 45%;
}

.contact-text p {
  margin-bottom: 30px;
  padding-left: 60px;
}

.form {
  width: 45%;
  padding-right: 60px;
}

.form-action dt{
  margin-left: 40px;
}

.form-action dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.form-action input,
.form-action textarea {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.button{
  margin-right: 20px;
}

.button input {
  color: white;
  background-color: black;
  border: solid 1px white;
  max-width: 430px;
  margin-left: 40px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}


/* ・・・・・・・・・・・・
question PAGE
・・・・・・・・・・・・ */

.second-v{
  background-image: url(../img/woman-g67b86de8b_640.jpg);
  background-size: cover;
  width: 100%;
  /* height: 1000px; */
  background-attachment: fixed;
  padding-bottom: 150px;
  /* backdrop-filter: brightness(50%); */
}

.second-v h1{
  text-align: center;
  padding-top: 150px;
  /* filter: drop-shadow(1px 1px 1px white); */
}

.question-block{
  width: 600px;
  margin: 0 auto;
}

.question-block p{
  font-size: 20px;
}

.bg-image{
  position: relative;
}

.bg-image::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

/* ・・・・・・・・・・・・
sns PAGE
・・・・・・・・・・・・ */

.third-v{
  background-image: url(../img/weight-lifting-g1acdaef3c_640.jpg);
  background-size: cover;
  width: 100%;
  height: 800px;
  /* background-attachment: fixed; */
}

.third-v h1{
  text-align: center;
  padding-top: 150px;
  color: white;
  filter: drop-shadow(2px 2px 3px #121212);
}


/* ・・・・・・・・・・・・
company PAGE
・・・・・・・・・・・・ */
#company h2{
  text-align: center;
  padding-top: 150px;
}

.company{
  width: 900px;
  margin: 0 auto;
  display: flex;
  padding-top: 50px;
}

.company img{
  width: 400px;
}

.company .com-title{
  padding-left: 50px;
}